/* my first time applying CSS */

* {
    color: hsl(0, 0%, 0%);
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-size: 12pt;
}

a {
    color: hsl(0, 0%, 0%);
    bg-color: hsl(0, 0%, 100%);
}

img {
    width: 500px;
    height: auto;
}

li {
    color: hsl(0, 0%, 0%);
    font-family: "monospace";
    font-size: 11pt;
}

.title {
    color: hsl(0, 0%, 0%);
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-size: 24pt;
}

.subtitle {
    color: hsl(0, 0%, 0%);
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-size: 16pt;
}

.caption {
    color: hsl(0, 0%, 0%);
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-size: 10pt;
}

.heading {
    color: hsl(0, 0%, 0%);
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-size: 16pt;
    font-weight: bold;
}

.list-padding-adjustment {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 55px;
}

.exp {
    color: hsl(0, 0%, 0%, 0.7)
    width: 600px;
    margin: 0 auto;
    font-family: "Copperplate", "Papyrus", "Arial", "Helvetica", "sans-serif";
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;
}

/* example from https://devdocs.io/css/-moz-image-rect */
.container {
    background-color: azure;
    width: 800px;
    height: 600px;
    top: 100px;
    left: 100px;
    position: absolute;
    font-size: 16px;
    text-shadow: black 0px 0px 2px;
    text-align: center;
  }